.thanks__content {
    margin: 0 auto;
    padding: 50px 15px;
    max-width: 1230px;
}

.thanks__heading {
    margin-bottom: 40px;
    text-align: center;
    color: #8B7969;
}

.form__button {
    margin-top: 30px;
    text-align: center;
}

.form__button a {
    padding: 10px 40px 10px 40px;
    width: 120px;
    height: 54px;
    border: none;
    border-radius: 3px;
    background: #82756A;
    color: #fff;
    cursor: pointer;
}